<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/chat.css">
</head>

<body ng-app="chatApp" ng-controller="chatController" layout="row" layout-align="center stretch">

    <md-card flex="none" layout="column" style="max-width:100%; width:800px" >
        <md-content id="message-pane" flex="90">
            <div ng-repeat="message in messages" layout="column"
                 layout-align="{{message.sender=='BOT' ? 'start start' : 'start end'}}">
                <md-card class="message-card"
                         ng-style="message.sender == 'BOT'?
                         {'background-color':'#ede3e4'}:
                         {'background-color':'#99addb'}">
                    <span>
                        {{message.text}}
                    </span>
                    <span  ng-bind-html="trust(message.feedResponse.description)">
                        {{message.feedResponse.description}}
                    </span>
                    <span class="message-time">
                        {{message.time}}
                    </span>
                </md-card>

            </div>

        </md-content>


        <md-card id="form-card" flex="10" layout="row" layout-align="center center" class="md-whiteframe-8dp">
            <form flex="100" layout="row" ng-submit="sendMessage()">
                <md-input-container flex="100">
                    <label>Message</label>
                    <input ng-model="userMessage">
                </md-input-container>
            </form>
            <div flex="10">
            <md-button class="md-fab md-icon-button" ng-click="sendMessage()">
                <md-icon md-svg-icon="/assets/images/sendbutton.svg">

                </md-icon>

            </md-button>
            </div>
        </md-card>
    </md-card>


    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="/assets/javascripts/chat.js"></script>
</body>

</html>
